{% extends 'base.html.twig' %}

{% block title %}Monn panier{% endblock %}

{% block content %}
<h1>Mon Panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier

    
    <table class="table mt-3" >
        <thead>
            <tr>
                <th>Photo</th>
                <th>Produit</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% set total = null %}
        {% for produit in cart %}
        <tr>
            <th>
                <img src="/uploads/{{ produit.produit.illustration  }}" height="70px">

            </th>
            <td>
                {{ produit.produit.nom }}
            <small>{{ produit.produit.nom }}</small>
            </td>
            <td>x {{ produit.quantite }}</td>
            <td>{{ produit.produit.price /100}} CFA</td>
            <td>{{ (produit.produit.price * produit.quantite)/100 }} CFA </td>
            
        </tr>
            {% set total =total + (produit.produit.price * produit.quantite) %}
        {% endfor %}
        </tbody>

    </table>
    <div class="text-right mb-5">
        <b>Nombre de produit:</b> {{ cart|length }} <br/>
        <b>Total de mon panier: {{ (total/100) }}</b>
        <a href="" class="btn btn-success btn-block">Valider mon panier</a>
    </div>

{% endblock %}
